doctype html
html
	head
		title My First Snake Game
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet', href='./css/snake.css')

	body
		div(id='board')
		script(src='./js/snake.js')